	@model FStep.ViewModels.ProfileVM
@{
	ViewData["Title"] = "Profile";
}

<div class="information">
	<div class="container-xl px-4 mt-4">
		<hr class="mt-0 mb-4">
		<div class="row">
			<div class="col-xl-4">
				<!-- Profile picture card-->
				<div class="card mb-4 mb-xl-0">
					<div class="card-header">@Model.Name</div>
					<div class="card-body text-center">
						<!-- Profile picture image-->
						<form asp-action="ProfileImg" enctype="multipart/form-data">
							<div class="image-container">
								<img class="img-account-profile mb-2" src="~/img/@Model.AvatarImg" alt="">
							</div>
							<!-- Profile picture help block-->
							<div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
							<!-- Profile picture upload button-->
							<label class="btn btn-primary">
								Upload new image
								<input type="file" name="img" style="display: none;" onchange="this.form.submit()">
							</label>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xl-8">
				<!-- Account details card-->
				<div class="card mb-4">
					<div class="card-header">Account Details</div>
					<div class="card-body">
						<form asp-action="Profile">
							<!-- Form Group (username)-->
							<div class="mb-3">
								<label asp-for="@Model.IdUser" class="small mb-1" for="inputUsername"></label>
								<input asp-for="@Model.IdUser" class="form-control" id="inputUsername" readonly />
							</div>
							<!-- Form Row-->
							<div class="row gx-3 mb-3">
								<div class="col-md-6">
									<label asp-for="@Model.Name" class="small mb-1"></label>
									<input asp-for="@Model.Name" class="form-control" type="text" placeholder="Enter your name">
								</div>
							</div>
							<!-- Form Row        -->
							<div class="row gx-3 mb-3">
								<!-- Form Group (organization name)-->
								<div class="col-md-6">
									<label asp-for="@Model.StudentId" class="small mb-1" for="inputOrgName"></label>
									<input asp-for="@Model.StudentId" class="form-control" readonly />
								</div>
								<!-- Form Group (location)-->
								<div class="col-md-6">
									<label asp-for="@Model.Address" class="small mb-1"></label>
									<input asp-for="@Model.Address" class="form-control" type="text" placeholder="Enter your Address">
								</div>
							</div>
							<!-- Form Group (email address)-->
							<div class="mb-3">
								<label asp-for="@Model.Email" class="small mb-1" for="inputOrgName"></label>
								<input asp-for="@Model.Email" class="form-control" readonly />
							</div>
							<!-- Save changes button-->
							<button class="btn btn-primary" type="submit">Save changes</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@{
	var successMessage = TempData["SuccessMessage"] as string;
	var errorMessage = TempData["ErrorMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
	<div id="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
		@successMessage
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
	<div id="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
		@errorMessage
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
@if (User.IsInRole("Customer"))
{
	<div class="your-post">
		<div class="container-xl px-4 mt-4">
			<h3>Your Posts</h3>
			<div class="row">
				@foreach (var post in Model.Posts)
				{
					@if (post.Status != "Hidden")
					{
						<div class="col-md-6 col-lg-4 col-xl-3 mb-4">
							<div class="rounded position-relative fruit-item">
								<div class="post-img-wrapper">
									<span class="badge badge-label">
										@switch (post.Status.ToLower())
										{
											case "true":
												<span class="badge bg-primary">Đã duyệt</span>
												break;
											case "false":
												<span class="badge bg-danger">Chờ duyệt</span>
												break;
											case "rejected":
												<span class="badge bg-warning text-dark">Từ chối</span>
												break;
											case "finish":
												<span class="badge bg-success">Hoàn Thành</span>
												break;
											case "trading":
												<span class="badge bg-info text-dark">Giao dịch</span>
												break;
											default:
												<span class="badge bg-secondary">NULL</span>
												break;
										}
									</span>
									<img src="@Url.Content("~/img/postPic/" + post.Img)" class="img-fluid w-100 rounded-top" alt="Post Image">
								</div>
								<div class="post-details d-flex justify-content-between align-items-center">
									<div class="post-actions">
										<button class="btn btn-sm btn-secondary btn-open-actions">
											...
										</button>
										<div class="post-actions-dropdown">
											<ul class="list-unstyled">
												@if (post.Status == "True" || post.Status == "False" || post.Status == "Rejected")
												{
													<li><a asp-action="UpdatePost" asp-controller="Account" asp-route-id="@post.IdPost" asp-route-type="@post.Type" class="dropdown-item">Sửa</a></li>
													<li><a asp-action="FinishPost" asp-controller="Account" asp-route-id="@post.IdPost" class="dropdown-item">Xóa</a></li>
												}
												else if (post.Status == "Finish")
												{
													<li><a asp-action="HiddenPost" asp-controller="Account" asp-route-id="@post.IdPost" class="dropdown-item">Ẩn</a></li>
												}
											</ul>
										</div>
									</div>
								</div>
								<div class="p-4 border border-secondary border-top-0 rounded-bottom">
									<h4 class="title">@Html.Raw(post.Title)</h4>
									@if(post.Type == "Exchange")
									{
										<div class="post-price">Loại bài: Trao đổi</div>
									}
									else
									{
										<div class="post-price">Loại bài: Bán</div>
									}
									<p class="text-end mb-0 mt-2">Created on: <span>@Html.Raw(post.CreateDate?.ToString("dd/MM/yyyy"))</span></p>
								</div>
							</div>
						</div>
					}
				}
			</div>
		</div>
	</div>
}
<style>
	.your-post .post-img-wrapper {
		position: relative;
	}

	.your-post .badge-label {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		padding: 0.5rem 1rem; /* Điều chỉnh khoảng cách bên trong nhãn dán */
		font-size: 1.2rem; /* Điều chỉnh kích thước font chữ */
		font-weight: bold; /* Điều chỉnh độ đậm của chữ */
	}

	.your-post {
		margin-top: 40px;
		padding: 20px;
		border: 1px solid #e3e3e3;
		border-radius: 10px;
		background-color: #f9f9f9;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	}

	.post-img-wrapper {
		position: relative;
		overflow: hidden;
	}

	.post-actions {
		position: absolute;
		top: 10px;
		right: 10px; /* Điều chỉnh vị trí sang phải */
		z-index: 1;
	}

		.post-actions .btn-open-actions {
			background: none;
			border: none;
			color: #000;
			font-size: 1.5rem;
			padding: 0;
			cursor: pointer;
		}

			.post-actions .btn-open-actions strong {
				font-weight: bold;
			}

	.post-actions-dropdown {
		display: none;
		position: absolute;
		top: 0;
		right: 0; /* Điều chỉnh vị trí sang phải */
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 5px;
		border-radius: 5px;
		z-index: 2;
	}

		.post-actions-dropdown ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

			.post-actions-dropdown ul li {
				margin-bottom: 5px;
			}

				.post-actions-dropdown ul li a {
					color: #333;
					text-decoration: none;
					display: block;
					padding: 5px;
				}

					.post-actions-dropdown ul li a:hover {
						background-color: #f0f0f0;
					}

	/* Hiển thị dropdown khi hover vào button */
	.post-actions:hover .post-actions-dropdown {
		display: block;
	}

	/* CSS cho nhãn Hoàn thành */
	.completed-label {
		position: absolute;
		top: 10px;
		right: 10px; /* Điều chỉnh vị trí sang phải */
		z-index: 1;
	}

		.completed-label .badge {
			background-color: #28a745;
			color: #fff;
			padding: 5px 10px;
			border-radius: 5px;
			font-size: 0.875rem;
		}
</style>