@model FStep.ViewModels.ProfileVM
@{
	ViewData["Title"] = "Profile";
}

<div>

	included, to get the result that you can see in the preview selection

	<div class="container-xl px-4 mt-4">
		<!-- Account page navigation-->
		<nav class="nav nav-borders">
			<a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
			<a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page" target="__blank">Billing</a>
			<a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">Security</a>
			<a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page" target="__blank">Notifications</a>
		</nav>
		<hr class="mt-0 mb-4">
		<div class="row">
			<div class="col-xl-4">
				<!-- Profile picture card-->
				<div class="card mb-4 mb-xl-0">
					<div class="card-header">@Model.Name</div>
					<div class="card-body text-center">
						<!-- Profile picture image-->
						<form asp-action="ProfileImg" enctype="multipart/form-data">
							<div class="image-container">
								<img class="img-account-profile mb-2" src="~/img/@Model.AvatarImg" alt="">
							</div>
							<!-- Profile picture help block-->
							<div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
							<!-- Profile picture upload button-->
							<label class="btn btn-primary">
								Upload new image
								<input type="file" name="img" style="display: none;" onchange="this.form.submit()">
							</label>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xl-8">
				<!-- Account details card-->
				<div class="card mb-4">
					<div class="card-header">Account Details</div>
					<div class="card-body">
						<form asp-action="Profile">
							<!-- Form Group (username)-->
							<div class="mb-3">
								<label asp-for="@Model.IdUser" class="small mb-1" for="inputUsername"></label>
								<input asp-for="@Model.IdUser" class="form-control" id="inputUsername" readonly />
							</div>
							<!-- Form Row-->
							<div class="row gx-3 mb-3">
								<div class="col-md-6">
									<label asp-for="@Model.Name" class="small mb-1"></label>
									<input asp-for="@Model.Name" class="form-control" type="text" placeholder="Enter your name">
								</div>
							</div>
							<!-- Form Row        -->
							<div class="row gx-3 mb-3">
								<!-- Form Group (organization name)-->
								<div class="col-md-6">
									<label asp-for="@Model.StudentId" class="small mb-1" for="inputOrgName"></label>
									<input asp-for="@Model.StudentId" class="form-control" readonly />
								</div>
								<!-- Form Group (location)-->
								<div class="col-md-6">
									<label asp-for="@Model.Address" class="small mb-1"></label>
									<input asp-for="@Model.Address" class="form-control" type="text" placeholder="Enter your Address">
								</div>
							</div>
							<!-- Form Group (email address)-->
							<div class="mb-3">
								<label asp-for="@Model.Email" class="small mb-1" for="inputOrgName"></label>
								<input asp-for="@Model.Email" class="form-control" readonly />
							</div>
							<!-- Save changes button-->
							<button class="btn btn-primary" type="submit">Save changes</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

