@model FStep.ViewModels.Email.ForgetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="row justify-content-center">
    <div class="col-5 mt-5 border border-4 p-4 rounded">
        <form asp-action="ResetPassword" asp-controller="Account">
            <h3 class="text-center text-muted mb-2" style="font-size:20px;">Reset Password </h3>
            <hr />
            <div class="mb-3">
                <label class="mb-2" asp-for="@Model.Password"></label><span class="text-danger">*</span>
                <input class="form-control" autocomplete="on" asp-for="@Model.Password" placeholder="Please enter your email" />
                <input type="hidden" asp-for="UserId"/>
                <input type="hidden" asp-for="Token" />

                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="mb-2" asp-for="@Model.ConfirmPassword"></label><span class="text-danger">*</span>
                <input class="form-control" autocomplete="on" asp-for="@Model.ConfirmPassword" placeholder="Please enter your email" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 d-grid">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <div class="col-6 d-grid">
                    <a asp-action="Login" asp-controller="Account" class="btn btn-warning btn-block text-light">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

