@model FStep.ViewModels.VerifyInfoVM
@{

}
<div class="container-contentboby">
	<div class="container py-5">
		<h1 class="mb-4">Xác thực thông tin</h1>
		<p class="alert alert-warning px-2 py-2">Vui lòng nhập chính xác thông tin!!!<br /><span class="text-danger"> Lưu ý:</span> Thông tin này sẽ được xem như mã định danh và thanh toán khi thực hiện bất kỳ giao dịch nào với tài khoản hiện tại.</p>
		<form asp-controller="Account" asp-action="VerifyInfo" method="post">
			<div class="row">
				<div class="col-md-12 col-lg-6 col-xl-12">
					<div class="row">
						<div class="form-item">
							<div class="form-item w-100">
								<label asp-for="@Model.StudentId" class="form-label my-3"></label><sup>*</sup>
								<textarea asp-for="@Model.StudentId" type="text" class="form-control" placeholder="Ví dụ: SE123456"></textarea>
								<span asp-validation-for="@Model.StudentId" class="text-danger"></span>
							</div>
							<div class="text-danger">
								@Html.ValidationMessage("Error")
							</div>
						</div>
						<div class="form-item">
							<div class="form-item w-100">
								<label asp-for="@Model.BankName" class="form-label my-3"></label><sup>*</sup>
								<select asp-for="@Model.BankName" class="form-select" aria-label="Default select example">
									<option selected value="TPBANK">TPBANK - Ngân hàng Tiên phong</option>
									<option value="VIETCOMBANK">VIETCOMBANK - Ngân hàng TMCP Ngoại Thương Việt Nam</option>
									<option value="VIETINBANK">VIETINBANK - Ngân hàng Công Thương Việt Nam</option>
									<option value="TECHCOMBANK">TECHCOMBANK - Ngân hàng Kỹ thương Việt Nam</option>
									<option value="MB BANK">MB BANK- Ngân hàng Quân Đội</option>
									<option value="BIDV">BIDV - Ngân hàng Đầu tư và Phát triển Việt Nam</option>
								</select>
							</div>
						</div>
						<div class="form-item">
							<div class="form-item w-100">
								<label asp-for="@Model.AccountNumber" class="form-label my-3"></label><sup>*</sup>
								<textarea asp-for="@Model.AccountNumber" type="text" class="form-control"></textarea>
								<span asp-validation-for="@Model.AccountNumber" class="text-danger"></span>
							</div>
						</div>
						<div class="form-item">
							<div class="form-item w-100">
								<label asp-for="@Model.AccountHolderName" class="form-label my-3"></label><sup>*</sup>
								<textarea asp-for="@Model.AccountHolderName" type="text" class="form-control"></textarea>
								<span asp-validation-for="@Model.AccountHolderName" class="text-danger"></span>
							</div>
						</div>
						<div class="mt-4">
							<button type="button" class="btn btn-primary border-secondary py-3 px-4 text-uppercase w-100 text-light" data-bs-toggle="modal" data-bs-target="#confirm">Xác thực</button>
						</div>
					</div>

					<!-- Model complete button -->
					<div class="modal fade" id="confirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Xác nhận hoàn thành</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Bạn đã chắc chắn rằng thông tin đã chính xác? <br /> Xác nhận thông tin</p>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
										<button type="submit" class="btn btn-primary">Xác nhận</button>
									</div>
								</div>
							</div>
						</div>
						<!--End modal-->

					</div>
				</div>
		</form>
	</div>
</div>
