@model FStep.ViewModels.WareHouse.WareHouseServiceVM
@using X.PagedList.Mvc.Core
@{
	ViewData["Title"] = "Kho Hàng";
}
<div class="row align-items-center mb-8 search-header">
	<div class="custom-container">
		<div class="container">
			<div class="row mt-3">
				<div class="col">
					<!-- Display counts -->
					<div class="mb-3">
						<span class="badge bg-primary">Đang chờ: @Model.ProcessCount</span>
						<span class="badge bg-success">Đã xong: @Model.FinishCount</span>
						<span class="badge bg-danger">Hủy bỏ: @Model.CancelCount</span>
					</div>

					<form asp-controller="WareHouse" asp-action="WareHouse" method="get" class="mb-3">
						<div class="row g-3 align-items-center">
							<div class="col-auto">
								<label for="searchString" class="col-form-label">Search:</label>
							</div>
							<div class="col-auto">
								<input type="text" class="form-control" id="searchString" name="searchString" value="@ViewBag.SearchString" placeholder="Enter search term...">
							</div>
							<div class="col-auto">
								<input type="hidden" name="activeTab" value="@ViewBag.ActiveTab" />
								<button type="submit" class="btn btn-primary">Search</button>
							</div>
						</div>
					</form>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link @(ViewBag.ActiveTab == "exchange" ? "active" : "")"
							   href="@Url.Action("WareHouse", new { activeTab = "exchange", searchString = ViewBag.SearchString })"
							   id="exchange-tab"
							   role="tab"
							   aria-controls="exchange"
							   aria-selected="true">Exchange</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(ViewBag.ActiveTab == "sale" ? "active" : "")"
							   href="@Url.Action("WareHouse", new { activeTab = "sale", searchString = ViewBag.SearchString })"
							   id="sale-tab"
							   role="tab"
							   aria-controls="sale"
							   aria-selected="false">Sale</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<!-- Tab panes -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade @(ViewBag.ActiveTab == "exchange" ? "show active" : "")" id="exchange" role="tabpanel" aria-labelledby="exchange-tab">
							<h3>Exchange</h3>
							<table class="table table-striped table-bordered">
								<thead class="thead-light">
									<tr>
										<th scope="col">Code Transaction</th>
										<th scope="col">Location</th>
										<th scope="col">Date</th>
										<th scope="col">Chủ sở hửu bài đăng</th>
										<th scope="col">Người trao đổi</th>
										<th scope="col">Name Product</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.ExchangeList)
									{
										<tr data-id="@item.TransactionVM.TransactionId" data-type="@item.Type">
											<td>@Html.DisplayFor(modelItem => item.TransactionVM.CodeTransaction)</td>
											<td>@Html.DisplayFor(modelItem => item.Location)</td>
											<td>@Html.DisplayFor(modelItem => item.TransactionVM.CreateDate)</td>
											<td>@Html.DisplayFor(moderItem => item.UserBuyer.IdUser)</td>
											<form asp-action="RecieveImg" enctype="multipart/form-data">
											<td>
												<label class="btn btn-primary">
													Upload new image
													<input type="file" name="img" style="display: none;" onchange="this.form.submit()">
													<input type="hidden" name="type" value="Buyer" />
													<input type="hidden" name="id" value="@item.TransactionVM.TransactionId" />
												</label>
											</td>
											</form>
											<td>@Html.DisplayFor(modelItem => item.UserSeller.IdUser)</td>
											<form asp-action="RecieveImg" enctype="multipart/form-data">
											<td>
												<label class="btn btn-primary">
													Upload new image
													<input type="file" name="img" style="display: none;" onchange="this.form.submit()">
													<input type="hidden" name="type" value="Seller" />
													<input type="hidden" name="id" value="@item.TransactionVM.TransactionId" />
												</label>
											</td>
											</form>
											<td>@Html.DisplayFor(modelItem => item.PostVM.Title)</td>
											<td>
												<button type="button" class="btn btn-danger btn-sm submit-img" data-toggle="collapse" data-target="#confirmCollapse-@item.TransactionVM.TransactionId">Confirm</button>
											</td>

										</tr>
										<tr id="confirmCollapse-@item.TransactionVM.TransactionId" class="collapse">
											<td colspan="9">
												<div class="card card-body">
													<!-- Your collapsible content here -->
													<p>Are you sure you want to confirm this transaction?</p>
													<button type="button" class="btn btn-success">Yes</button>
													<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#confirmCollapse-@item.TransactionVM.TransactionId">No</button>
												</div>
												<div class="card card-body">
													<!-- Your collapsible content here -->
													<p>Are you sure you want to confirm this transaction?</p>
													<button type="button" class="btn btn-success">Yes</button>
													<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#confirmCollapse-@item.TransactionVM.TransactionId">No</button>
												</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
							@Html.PagedListPager(Model.ExchangeList, page => Url.Action("WareHouse", new { page, searchString = ViewBag.SearchString, activeTab = "exchange" }))
						</div>

						<div class="tab-pane fade @(ViewBag.ActiveTab == "sale" ? "show active" : "")" id="sale" role="tabpanel" aria-labelledby="sale-tab">
							<h3>Sale</h3>
							<table class="table table-striped table-bordered">
								<thead class="thead-light">
									<tr>
										<th scope="col">Id Post</th>
										<th scope="col">Location</th>
										<th scope="col">Code Transaction</th>
										<th scope="col">Date</th>
										<th scope="col">Id User Buyer</th>
										<th scope="col">Name Product</th>
										<th scope="col">Quantity</th>
										<th scope="col">Amount</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.SaleList)
									{
										<tr data-id="@item.TransactionVM.TransactionId" data-type="@item.Type">
											<td>@Html.DisplayFor(modelItem => item.PostVM.IdPost)</td>
											<td>@Html.DisplayFor(modelItem => item.Location)</td>
											<td>@Html.DisplayFor(modelItem => item.TransactionVM.CodeTransaction)</td>
											<td>@Html.DisplayFor(modelItem => item.TransactionVM.CreateDate)</td>
											<td>@Html.DisplayFor(moderItem => item.UserBuyer.IdUser)</td>
											<td>@Html.DisplayFor(modelItem => item.UserSeller.IdUser)</td>
											<td>@Html.DisplayFor(modelItem => item.PostVM.Title)</td>
											<td>@Html.DisplayFor(modelItem => item.TransactionVM.Quantity)</td>
											<td>@Html.DisplayFor(modelItem => item.TransactionVM.Amount)</td>
											<td>
												<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmModal">Confirm</button>
											</td>
										</tr>
									}
								</tbody>
							</table>

							@Html.PagedListPager(Model.SaleList, page => Url.Action("WareHouse", new { page, searchString = ViewBag.SearchString, activeTab = "sale" }))
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="infoModalLabel">Thông tin chi tiết</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="modal-body-content">
				<!-- Nội dung sẽ được tải từ view khác -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		// Lấy tham số từ URL query string
		var urlParams = new URLSearchParams(window.location.search);
		var id = urlParams.get('idTrans');
		// Nếu có id và type từ query string
		if (id) {
			var target = "#confirmCollapse-" + id;
			$(target).collapse('show');
		}
	});
	document.addEventListener('DOMContentLoaded', function () {
		// Lấy tất cả các thẻ <tr> có thuộc tính data-id
		var trs = document.querySelectorAll('tr[data-id][data-type]');

		// Thêm sự kiện click vào mỗi thẻ <tr>
		trs.forEach(function (tr) {
			tr.addEventListener('click', function () {
				if (event.target.tagName.toLowerCase() !== 'input' && event.target.tagName.toLowerCase() !== 'button' && event.target.tagName.toLowerCase() !== 'i') {

					// Lấy giá trị của thuộc tính data-id của thẻ <tr> được bấm
					var itemId = tr.getAttribute('data-id');
					var itemType = tr.getAttribute('data-type');

					// Gửi yêu cầu AJAX để lấy nội dung view từ server
					fetch('/WareHouse/DetailTransaction', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({ id: itemId, type: itemType })  // Chuyển đổi itemId thành một đối tượng JSON
					})
						.then(response => response.text())
						.then(data => {
							// Điền nội dung vào modal
							document.getElementById('modal-body-content').innerHTML = data;

							// Hiển thị modal
							var modal = new bootstrap.Modal(document.getElementById('infoModal'));
							modal.show();
						})
						.catch(error => console.error('Error:', error));
				}
			});
		});
	});
</script>
