@model X.PagedList.IPagedList<FStep.ViewModels.WareHouse.WareHouseVM>
@using X.PagedList.Mvc.Core;

<div>
    <div class="row align-items-center mb-8 search-header">
        <div class="custom-container">
            <div class="container">
                <div class="row mt-3">
                    <div class="col">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Mã Số</th>
                                    <th scope="col">Vị Trí</th>
                                    <th scope="col">Mã Giao Dịch</th>
                                    <th scope="col">Ngày</th>
                                    <th scope="col">Người Mua</th>
                                    <th scope="col">Tên Sản Phẩm</th>
                                    <th scope="col">Số Lượng</th>
                                    <th scope="col">Tổng Tiền</th>
                                    <th scope="col">Giao Dịch</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="post-title">@Html.Raw(item.IdPost)</td>
                                        <td>@Html.Raw(item.Location)</td>
                                        <td style="color:red">@Html.Raw(item.CodeTransaction)</td>
                                        <td>@Html.Raw(item.Date)</td>
                                        <td style="color:red">@Html.Raw(item.IdStudent)</td>
                                        <td>@Html.Raw(item.NameProduct)</td>
                                        <td>@Html.Raw(item.Quantity)</td>
                                        <th style="color:red">@Html.Raw(item.Amount)</th>
                                        <td>
                                            <form asp-controller="" asp-action="" method="post">
                                                <input type="hidden" name="id" value="" />
                                                <button type="submit" class="btn btn-danger btn-sm">Hoàn Thành</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("WareHouse", new { query = ViewBag.Query, page = page }))
        </div>
    </div>
</div>
