<style>
	body {
		background-color: #f0f0f0; /* Màu xám nhạt */
	}

	.project-details-section .project-detail .auto-container {
		background-color: #f0f0f0; /* Màu xám nhạt cho container chính */
	}

	.card {
		border: none
	}

	.product {
		background-color: #eee
	}

	.brand {
		font-size: 13px
	}

	.act-price {
		color: red;
		font-weight: 700
	}

	.dis-price {
		text-decoration: line-through
	}

	.about {
		font-size: 14px
	}

	.color {
		margin-bottom: 10px
	}

	label.radio {
		cursor: pointer
	}

		label.radio input {
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			pointer-events: none
		}

		label.radio span {
			padding: 2px 9px;
			border: 2px solid #ff0000;
			display: inline-block;
			color: #ff0000;
			border-radius: 3px;
			text-transform: uppercase
		}

		label.radio input:checked + span {
			border-color: #ff0000;
			background-color: #ff0000;
			color: #fff
		}

	.btn-danger {
		background-color: #ff0000 !important;
		border-color: #ff0000 !important
	}

		.btn-danger:hover {
			background-color: #da0606 !important;
			border-color: #da0606 !important
		}

		.btn-danger:focus {
			box-shadow: none
		}

	.cart i {
		margin-right: 10px
	}

	.comment-section {
		background-color: #f9f9f9; 
		border-radius: 10px; 
		padding: 20px; 
		margin-top: 30px; 
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
	}

		.comment-section .comment-heading {
			font-size: 20px; /
			font-weight: bold; 
			margin-bottom: 20px; 
			color: #ff0000; 
		}


</style>
@model FStep.Data.Post
<section class="project-details-section">
	<div class="project-detail">
		<div class="auto-container">
			<!-- Upper Box -->
			<div class="upper-box row">
				<!--Project Tabs-->
				<div class="project-tabs tabs-box clearfix col-6">
					<!--Tab Btns-->
					<!--Tabs Container-->
					<div class="tabs-content">
						<!--Tab / Active Tab-->
						<div class="tab active-tab" id="tab-1">
							<figure class="image">
								<img style="border-radius: 25px; width: 650px; height: 500px;" src="@Url.Content("~/image/" + Model.Img)" alt="">
							</figure>
						</div>

					</div>
				</div>
				<div class="content-column col-lg-6 col-md-6 col-sm-6 mt-5">
					<div class="inner-column card" style="padding : 5px 5px 5px 5px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
						<h2>@Model.Content</h2>
						@* <p>@Html.Raw(Model.Content)</p> *@
						<div style="min-height:30px;"></div>
						<h4>Date Create</h4>
						<p>@Model.Date</p>
					</div>
				</div>
			</div>

			<div style="min-height:10px;"></div>
			<!--Lower Content-->
			<div class="lower-content">
				<div class="row clearfix">
					<!--Content Column-->
					<!--Info Column-->
					<div class="info-column col-lg-12 col-md-12 col-sm-12 ">
						<div class="inner-column wow fadeInRight card" style="padding : 5px 5px 5px 5px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
							<h3>Thông tin</h3>
							<ul class="info-list">
								<li><strong>Mô tả sản phẩm :</strong> @Html.Raw(Model.Detail)</li>
								<li><strong>Kiểu:</strong> @Model.Type</li>
								<li><strong>Tên người đăng :</strong> @Model.IdUserNavigation.Name</li>
							</ul>

							<!--Help Box-->

						</div>
					</div>


				</div>
			</div>
			<div style="background-color=gray;text-align:center" class="mt-2 btn border-secondary text-uppercase  text-primary">
				Chat
			</div>
			<div class="col-lg-12 mt-3">
				<div class="inner-column wow fadeInRight card" style="padding : 5px 5px 5px 5px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
					<span class="lead">Add your comment</span>
					<div>
						<textarea class="form-control" style="height:400px;"></textarea>
					</div>
					<div style="min-height:10px;"></div>
					<div>
						<button class="btn btn-danger">Comment</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
