@model X.PagedList.IPagedList<FStep.ViewModels.ExchangePostVM>
@using X.PagedList.Mvc.Core;

<div>
    <!--/slider-->
    <section id="slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>F</span>-STEP</h1>
                                    <h2>FU Student Item Exchange</h2>
                                    <p>Easily swap items with other FU students. Whether it’s a laptop for a textbook or a mouse for a notebook, trade what you have for what you need.</p>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/image/1694076724_395_Truong-Dai-hoc-FPT-dao-tao-nganh-vi-mach-ban.jpg" class="girl img-responsive" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>F</span>-STEP</h1>
                                    <h2>Student-to-Student Gear Exchange</h2>
                                    <p>Trade your study essentials with other FU students. From computers to school supplies, find what you need through simple and direct exchanges. </p>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/image/sliden-laptop-exchange.png" class="girl img-responsive" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>F</span>-STEP</h1>
                                    <h2>Free Ecommerce Template</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/image/1694076724_395_Truong-Dai-hoc-FPT-dao-tao-nganh-vi-mach-ban.jpg" class="girl img-responsive" alt="" />
                                </div>
                            </div>
                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/End slider-->
    <!-- Search Form and Heading Row -->
    <div class="container-fluid fruit py-5">
        <div class="container py-5">
            <div class="row align-items-center mb-4">
                <div class="col-md-6">
                    <h1>Exchange: Suggestion today</h1>
                </div>
                <div class="col-md-6">
                    <form asp-action="Index" asp-controller="Home" class="d-flex justify-content-end">
                        <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="query">
                        <button class="btn btn-primary ms-2" type="submit">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <!-- Start of post item column -->
                        @foreach (var item in Model)
                        {
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="rounded position-relative fruit-item">
                                    <div class="fruit-img">
                                        <img src="@Url.Content("~/image/" + item.Image)" class="img-fluid w-100 rounded-top" alt="Laptop">
                                    </div>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                        <h4>@item.Title</h4>
                                        <p>@item.Description</p>
                                        <p class="text-end mb-0 mt-2">Ngày tạo: <span>@item.CreateDate.ToString("dd/MM/yyyy")</span></p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Create relationship between page and page -->
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { query = ViewBag.Query, page = page }))
                    <!-- Model: pageList chứa thông tin về các trang hiện tại, số trang, số lượng mục trên mỗi trang-->
                    <!-- page => Url.Action("Index", new { page = page }): lamba expression tạo liên kết giữa các trang -->
                    <!--          /ControllerName/Index?page=x                  -->
                    <!-- End create -->
                </div>
            </div>
            <!-- End Show -->
        </div>
    </div>
</div>