@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<FStep.ViewModels.PostVM>
@{
	ViewData["TypePost"] = "Exchange";
}
<div>
	<!--/slider-->
	<div class="carousel rounded">
		<section id="slider">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div id="slider-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">

							<div class="carousel-inner">
								<div class="carousel-item active bg-carousel-item">
									<div class="row align-items-center">
										<div class="col-sm-6 content-box">
											<h1 class="f-step-title"><span>F</span>-STEP</h1>
											<div class="f-step-content border p-3">
												<h2>FU Student Item Exchange</h2>
												<p>Easily swap items with other FU students. Whether it’s a laptop for a textbook or a mouse for a notebook, trade what you have for what you need.</p>
											</div>
										</div>
										<div class="col-sm-6">
											<img src="~/img/Sliden/1694076724_395_Truong-Dai-hoc-FPT-dao-tao-nganh-vi-mach-ban.jpg" class="d-block w-100 rounded-circle" alt="" />
										</div>
									</div>
								</div>
								<div class="carousel-item bg-carousel-item">
									<div class="row align-items-center">
										<div class="col-sm-6 content-box">
											<h1 class="f-step-title"><span>F</span>-STEP</h1>
											<div class="f-step-content border p-3">
												<h2>FU Student Item Exchange</h2>
												<p>Easily swap items with other FU students. Whether it’s a laptop for a textbook or a mouse for a notebook, trade what you have for what you need.</p>
											</div>
										</div>
										<div class="col-sm-6">
											<img src="~/img/Sliden/1694076724_395_Truong-Dai-hoc-FPT-dao-tao-nganh-vi-mach-ban.jpg" class="d-block w-100 rounded-circle" alt="" />
										</div>
									</div>
								</div>
								<div class="carousel-item bg-carousel-item">
									<div class="row align-items-center">
										<div class="col-sm-6 content-box">
											<h1 class="f-step-title"><span>F</span>-STEP</h1>
											<div class="f-step-content border p-3">
												<h2>FU Student Item Exchange</h2>
												<p>Easily swap items with other FU students. Whether it’s a laptop for a textbook or a mouse for a notebook, trade what you have for what you need.</p>
											</div>
										</div>
										<div class="col-sm-6">
											<img src="~/img/Sliden/1694076724_395_Truong-Dai-hoc-FPT-dao-tao-nganh-vi-mach-ban.jpg" class="d-block w-100 rounded-circle" alt="" />
										</div>
									</div>
								</div>
							</div>


							<button class="carousel-control-prev" type="button" data-bs-target="#slider-carousel" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#slider-carousel" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--/End slider-->
	<!-- Header body  -->
	<div class="container-fluid fruit py-5">
		<div class="container py-5">
			<!-- Title header body  -->
			<div class="row align-items-center mb-4 search-header">
				<div class="col-md-6">
					<h1 class="exchange-title">Exchange: Suggestion Today</h1>
				</div>
				<div class="col-md-5">
					<form asp-action="Index" asp-controller="Home" class="d-flex justify-content-end search-form">
						<input type="search" class="form-control search-input" placeholder="keywords" name="query">
						<button class="btn btn-primary search-button" type="submit">
							<i class="fa fa-search search-icon"></i>
						</button>
					</form>
				</div>
				<div class="col-md-1">
					<i class="fa fa-plus-square" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size:45px;"></i>
				</div>
				</>
				<!-- End header body -->
				<!-- Start Content Body-->
				<div class="row g-4">
					<div class="col-lg-12">
						<div class="container-contentboby">
							<div class="row g-4">
								<!-- Start of post item column -->
								@foreach (var item in Model)
								{
									<div class="col-md-6 col-lg-6 col-xl-3">
										<div class="rounded position-relative fruit-item">
											<div class="fruit-img">
												<a asp-action="DetailPost" asp-controller="Post" asp-route-id="@item.IdPost">
													<img src="@Url.Content("~/img/postPic/" + item.Img)" class="img-fluid w-100 rounded-top" alt="Laptop">
												</a>
											</div>
											<div class="p-4 border border-secondary border-top-0 rounded-bottom">
												<a asp-action="DetailPost" asp-controller="Post" asp-route-id="@item.IdPost" style="text-decoration:none">
													<h4 class="title">@Html.Raw(item.Title)</h4>
												</a>
												<div class="description" style="max-height: 40px; overflow: hidden; transition: max-height 0.5s ease;">@Html.Raw(item.Description)</div>
												<p class="text-end mb-0 mt-2">Ngày tạo: <span>@item.CreateDate?.ToString("dd/MM/yyyy")</span></p>

											</div>
										</div>
									</div>
								}
							</div>
						</div>
						<!-- Start Content Body-->
						<!-- Create relationship between page and page -->
						@Html.PagedListPager(Model, page => Url.Action("Index", new { query = ViewBag.Query, page = page }))
						<!-- End create -->
					</div>
				</div>
				<!-- End Show -->
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">


					@await Html.PartialAsync("Create", new FStep.ViewModels.PostVM())




				</div>
				@* <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div> *@
			</div>
		</div>
	</div>