@model FStep.ViewModels.TransactionVM
@{
	var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}



<div class="d-flex justify-content-center align-items-center">
	<div class="card" style="border-radius: 10px;">
		<div class="card-header px-3 py-3">
			<div class="d-flex justify-content-between align-items-center">
				@if (Model.UserName != null)
				{
					<h5 class="text-muted">Cảm ơn, <span style="color: #3572EF;">@Model.UserName</span>!</h5>
				}
				else
				{
					<h5 class="text-muted">Cảm ơn, <span style="color: #3572EF;">@Model.IdUserSeller</span>!</h5>
				}

				@if (DateTime.Now.CompareTo(Model.DeliveryDate?.AddDays(7)) <= 0)
				{
					<a data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm px-5 py-2" type="button" asp-action="Feedback" asp-controller="Feedback" asp-route-idPost="@Model.IdPost" asp-route-idTransaction="@Model.TransactionId">
						Đánh giá
					</a>
				}
				else
				{
					<button disabled data-mdb-button-init data-mdb-ripple-init class="btn btn-sm mt-2 bg-dark text-light bg-opacity-50" type="button">
						Đánh giá
					</button>
				}
			</div>
		</div>
		<div class="card-body row p-4">
			<div class="d-flex justify-content-between align-items-center mb-4">
				<h4 class="lead fw-bold mb-0" style="color: #3572EF;">Giao dịch</h4>
				<h4 class="small mb-0">Mã giao dịch : <span class="text-danger">@Model.CodeTransaction</span></h4>
			</div>
			<div class="card shadow-0 border mb-4">
				<div class="card-body">
					<div class="row">
						<div class="col-md-4 mb-4">
							<a asp-action="DetailSalePost" asp-controller="Post" asp-route-id="@Model.IdPost">
								<img src="@Url.Content("~/img/postPic/" + Model.Img)" class="img-fluid rounded mw-100 mh-100" alt="Product">
							</a>
						</div>
						<div class="col-md-8">
							<a asp-action="DetailSalePost" asp-controller="Post" asp-route-id="@Model.IdPost" style="text-decoration:none">
								<h4 class="title text-dark">@Html.Raw(Model.Content)</h4>
							</a>
							@if (Model.TypePost == "Sale")
							{
								<h5 class="badge bg-danger text-white fw-bold rounded">@Model.TypePost</h5>
							}
							else
							{
								<h5 class="badge bg-success text-white fw-bold rounded">@Model.TypePost</h5>
							}
							<h4 class="mb-1 me-1">@String.Format(format, "{0:0,0 VND}", Model.UnitPrice)</h4>
							<h4 class="text-success text-end"><span>x</span>@Model.Quantity</h4>
							<p class="text-truncate mb-4 mb-md-0">@Html.Raw(Model.Detail)</p>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-between pt-2">
				<h4 class="fw-bold mb-0">Chi tiết</h4>
			</div>

			<div class="d-flex justify-content-between pt-2">
				<h5 class="small text-muted mb-0">Ngày đặt hàng: <span>@Model.DeliveryDate?.ToString("MM/dd/yyyy hh:mm tt")</span></h5>
				<h5 class="text-muted mb-0"><span class="fw-bold me-4">Tổng</span> @String.Format(format, "{0:0,0 VND}", Model.Amount)</h5>
			</div>

			<div class="d-flex justify-content-between">
				<h5 class="small text-muted mb-0">Ngày nhận hàng: <span>@Model.DeliveryDate?.ToString("MM/dd/yyyy hh:mm tt")</span></h5>
				<h5 class="text-muted mb-0"><span class="fw-bold me-4">Giảm giá</span>@String.Format(format, "{0:0,0 VND}", 0)</h5>
			</div>
		</div>
		<div class="card-footer border-0 px-3 py-3"
			 style="background-color: #3572EF; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
			<h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
				Tổng tiền: @String.Format(format, "{0:0,0 VND}", Model.Amount)
			</h5>
		</div>
	</div>


</div>




