@model FStep.ViewModels.TransactionVM
@{
	var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Hóa đơn</title>
</head>
<body>
	<div class="d-flex justify-content-center align-items-center " style="justify-content: center!important; display: flex!important">
		<div class="card" style="border-radius: 10px; background-color: #FFF5E0; width: 700px">
			<div style="padding: 1rem">
				<div class="card-header px-3 py-3">
					<div class="d-flex justify-content-between align-items-center">
						@if (Model.UserName != null)
						{
							<h5 class="text-muted">Người mua, <span style="color: #3572EF;">@Model.UserName</span>!</h5>
						}
						else
						{
							<h5 class="text-muted">Người mua, <span style="color: #3572EF;">@Model.IdUserSeller</span>!</h5>
						}
					</div>
				</div>
				<div class="card-body row p-4">
					<div class="d-flex justify-content-between align-items-center mb-4">
						<h4 class="small mb-0">Mã giao dịch : <span class="text-danger">@Model.CodeTransaction</span></h4>
					</div>
					<div class="card shadow-0 border mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-md-8">
									<a asp-action="DetailSalePost" asp-controller="Post" asp-route-id="@Model.IdPost" style="text-decoration:none">
										<h4 class="title text-dark">@Html.Raw(Model.Content)</h4>
									</a>
									@if (Model.TypePost == "Sale")
									{
										<h5 class="badge bg-danger text-white fw-bold rounded"><span>Loại đơn: </span> @Model.TypePost</h5>
									}
									else
									{
										<h5 class="badge bg-success text-white fw-bold rounded"><span>Loại đơn: </span>@Model.TypePost</h5>
									}
									<h4 class="mb-1 me-1" style="color: #3572EF">@String.Format(format, "{0:0,0 VND}", Model.UnitPrice)</h4>
									<h5 class="text-success text-end"><span>Số lượng: </span>@Model.Quantity</h5>
									<p class="text-truncate mb-4 mb-md-0" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap">@Html.Raw(Model.Detail)</p>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex justify-content-between pt-2">
						<h4 class="fw-bold mb-0">Chi tiết</h4>
					</div>
					<div class="d-flex justify-content-between pt-2">
						<h5 class="small text-muted mb-0">Ngày đặt hàng: <span>@Model.CreateDate?.ToString("MM/dd/yyyy hh:mm tt")</span></h5>
						@if (Model.Status == "Completed")
						{
							<h5 class="small text-muted mb-0" style="color: #3572EF">Ngày nhận hàng: <span>@Model.DeliveryDate?.ToString("MM/dd/yyyy hh:mm tt")</span></h5>
						}
						else
						@if (Model.Status == "Canceled")
						{
							<h5 class="small text-muted mb-0" style="color: red">Ngày huỷ: <span>@Model.CancelDate?.ToString("MM/dd/yyyy hh:mm tt")</span></h5>
						}
						else
						{
							<h5 class="small text-muted mb-0">-----</h5>
						}
						<h5 class="text-muted mb-0"><span class="fw-bold me-4">Tổng</span> @String.Format(format, "{0:0,0 VND}", Model.Amount)</h5>
					</div>
				</div>
				<div class="card-footer border-0 px-3 py-3"
					 style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
					<h4 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
						Tổng tiền: @String.Format(format, "{0:0,0 VND}", Model.Amount)
					</h4>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
