@model IEnumerable<FStep.ViewModels.ProductVM>

@{
    Layout = "_Layout";
}

@section ProductDt {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <section class="py-5" style="background-color:#2193b0">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.IdProduct">
                                <img src="@Url.Content("~/image/" + item.RecieveImg)" class="img-fluid w-100 h-100 rounded-top" alt="@item.Name">
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product price-->
                                    $@item.Price
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a asp-action="Detail" asp-controller="Product" asp-route-id="@item.IdProduct" class="btn btn-outline-dark mt-auto" >View Detail</a></div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
}


