@model FStep.ViewModels.PostVM
@{
	ViewData["Title"] = "CreatePost";
}
<div class="container-fluid py-5">
	<div class="container py-5">
		<h1 class="mb-4">Post</h1>
		<form asp-controller="Post" asp-action="CreatePost" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-12 col-lg-6 col-xl-7">
					<div class="row">
						<div class="form-item">
							<div class="form-item w-100">
								<label asp-for="@Model.Content" class="form-label my-3"></label><sup>*</sup>
								<input asp-for="@Model.Content" type="text" class="form-control">
								<span asp-validation-for="@Model.Content" class="text-danger"></span>
							</div>
						</div>
						<div class="form-item">
							<label class="form-label my-3" >Image</label><sup>*</sup>
							<input type="file" name="img" class="form-control">
						</div>

						<div class="form-item">
							<label asp-for="@Model.Detail" class="form-label my-3"></label><sup>*</sup>
							<input asp-for="@Model.Detail" type="text" class="form-control">
							<span asp-validation-for="@Model.Detail" class="text-danger"></span>
						</div>

						<div class="form-item">
							<label asp-for="@Model.Type" class="form-label my-3"></label><sup>*</sup>
							<select class="form-control" name="Type" asp-for="@Model.Type">
								<option value="Exchange">Exchange</option>
								<option value="Sale">Sale</option>
							</select>
						</div>

						<div class="form-item">
							<label asp-for="@Model.NameProduct" class="form-label my-3"></label><sup>*</sup>
							<input asp-for="@Model.NameProduct" type="text" class="form-control">
							<span asp-validation-for="@Model.NameProduct" class="text-danger"></span>
						</div>

						<div class="form-item">
							<label asp-for="@Model.Quantity" class="form-label my-3"></label><sup>*</sup>
							<input asp-for="@Model.Quantity" type="text" class="form-control">
							<span asp-validation-for="@Model.Quantity" class="text-danger"></span>
						</div>

						<div class="form-item">
							<label asp-for="@Model.Price" class="form-label my-3"></label><sup>*</sup>
							<input asp-for="@Model.Price" type="text" class="form-control">
							<span asp-validation-for="@Model.Price" class="text-danger"></span>
						</div>

						<div class="form-item">
							<label asp-for="@Model.DetailProduct" class="form-label my-3"></label><sup>*</sup>
							<input asp-for="@Model.Price" type="text" class="form-control">
							<span asp-validation-for="@Model.Price" class="text-danger"></span>
						</div>

						<div style="background-color=gray;">
							<button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Post</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


