@using FStep.Data
@using FStep.ViewModels
@model FStep.Data.Post

@{
	var user = ViewData["USER_CREATE"] as FStep.Data.User;
	var comments = ViewData["comments"] as List<CommentVM> ?? new List<CommentVM>();
	var recommendedPosts = ViewData["recommendedPosts"] as List<Post> ?? new List<Post>();
	var commentError = TempData["CommentError"] as string;
	var commentNote = new FStep.ViewModels.Summernote("#commentNote", isLoadScript: false);
}
<style>
	html,
	body {
		height: 100%;
		width: 100%;
		margin: 0;
		font-family: 'Roboto', sans-serif;
	}

	.container-detail {
		max-width: 1200px;
		margin: 0 auto;
		padding: 15px;
		display: flex;
		flex-wrap: wrap;
	}

	/* Columns */
	.left-column {
		width: 65%;
		position: relative;
		overflow: auto;
		/* Thêm overflow để có thanh cuộn */
		height: 400px;
		/* Chiều cao cố định */
		max-width: 400px;
		/* Chiều rộng cố định */
		text-align: left;
		/* Đưa thanh cuộn sang trái */
		white-space: nowrap;
	}

	.right-column {
		width: 35%;
		margin-top: 60px;
		margin-left: 120px;
	}

	.left-column img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		/* Bao phủ vùng chứa mà không bị méo */
		border-radius: 25px;
	}

	/* Product Description */
	.product-description {
		border-bottom: 1px solid #E1E8EE;
		margin-bottom: 20px;
	}

	.product-description span {
		font-size: 12px;
		color: #358ED7;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-decoration: none;
	}

	.product-description h1 {
		font-weight: 300;
		font-size: 52px;
		color: #43484D;
		letter-spacing: -2px;
	}

	.product-description p {
		font-size: 16px;
		font-weight: 300;
		color: #86939E;
		line-height: 24px;
	}

	/* Product Price */
	.product-price {
		display: flex;
		align-items: center;
	}

	.product-price span {
		font-size: 26px;
		font-weight: 300;
		color: #43474D;
		margin-right: 20px;
	}

	.cart-btn {
		display: inline-block;
		background-color: #7DC855;
		border-radius: 6px;
		font-size: 16px;
		color: #FFFFFF;
		text-decoration: none;
		padding: 12px 30px;
		transition: all .5s;
	}

	.cart-btn:hover {
		background-color: #64af3d;
	}

	.mt-2 {
		margin-top: 20px;
	}

	.col-lg-12 {
		width: 100%;
	}

	.inner-column {
		padding: 20px;
		box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
		background-color: #fff;
		border-radius: 10px;
	}

	.lead {
		font-size: 20px;
		font-weight: bold;
	}

	textarea.form-control {
		width: 100%;
		padding: 10px;
		border-radius: 6px;
		border: 1px solid #ccc;
	}

	.btn-danger {
		background-color: #ff0000;
		border: none;
		padding: 10px 20px;
		color: #fff;
		border-radius: 6px;
		cursor: pointer;
	}

	.btn-danger:hover {
		background-color: #da0606;
	}

	.text {
		max-height: 100px;
		/* Hoặc bất kỳ giới hạn chiều cao nào bạn muốn hiển thị ban đầu */
		overflow: hidden;
		transition: max-height 0.5s ease;
		/* Để tạo hiệu ứng mượt mà */
	}


	.product-description .read-more,
	.product-description .shrink-btn {
		display: none;
		/* Ẩn liên kết "Xem thêm" và "Thu gọn" ban đầu */
		text-decoration: none;
	}

	body {
		background: #FCFCFC;
	}

	.pr-12 {
		padding-right: 12px !important;
	}

	.mb-20 {
		margin-bottom: 20px !important;
	}

	.b-1 {
		border: 1px solid #ebebeb !important;
	}

	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0, 0, 0, .125);
		border-radius: .25rem;
		border: 0;
		margin-bottom: 30px;
		transition: .5s;
		width: 100% !important;
		/* Ensure full width */
	}

	.media {
		padding: 16px 12px;
		-webkit-transition: background-color .2s linear;
		transition: background-color .2s linear;
	}

	.media {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}

	.card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1.25rem;
	}

	.media .avatar {
		flex-shrink: 0;
		width: 70px;
		height: 70px;
	}

	.no-radius {
		border-radius: 0 !important;
	}

	.avatar-xl {
		width: 64px;
		height: 64px;
		line-height: 64px;
		font-size: 1.25rem;
	}

	.avatar {
		position: relative;
		display: inline-block;
		width: 36px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		border-radius: 100%;
		background-color: #f5f6f7;
		color: #8b95a5;
		text-transform: uppercase;
	}

	img {
		max-width: 100%;
	}

	img {
		vertical-align: middle;
		border-style: none;
	}

	.mb-2 {
		margin-bottom: .5rem !important;
	}

	.fs-20 {
		font-size: 20px !important;
	}

	.pr-16 {
		padding-right: 16px !important;
	}

	.ls-1 {
		letter-spacing: 1px !important;
	}

	.fw-300 {
		font-weight: 300 !important;
	}

	.fs-16 {
		font-size: 16px !important;
	}

	.media-body > * {
		margin-bottom: 0;
	}

	small,
	time,
	.small {
		font-family: Roboto, sans-serif;
		font-weight: 400;
		font-size: 11px;
		color: #8b95a5;
	}

	.fs-14 {
		font-size: 14px !important;
	}

	.mb-12 {
		margin-bottom: 12px !important;
	}

	.text-fade {
		color: rgba(77, 82, 89, 0.7) !important;
	}

	.card-footer:last-child {
		border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
	}

	.card-footer {
		background-color: #fcfdfe;
		border-top: 1px solid rgba(77, 82, 89, 0.07);
		color: #8b95a5;
		padding: 10px 20px;
	}

	.flexbox {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}

	.align-items-center {
		-ms-flex-align: center !important;
		align-items: center !important;
	}

	.card-footer {
		padding: .75rem 1.25rem;
		background-color: rgba(0, 0, 0, .03);
		border-top: 1px solid rgba(0, 0, 0, .125);
	}


	.card-footer {
		background-color: #fcfdfe;
		border-top: 1px solid rgba(77, 82, 89, 0.07);
		color: #8b95a5;
		padding: 10px 20px
	}

	.card-footer>*:last-child {
		margin-bottom: 0
	}

	.hover-shadow {
		-webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.11);
		box-shadow: 0 0 35px rgba(0, 0, 0, 0.11)
	}

	.fs-10 {
		font-size: 10px !important;
	}

	.media-left {
		display: flex;
	}

	.media-left .img {}

	.media-left .name {
		margin-left: 12px;
	}

	.product-rating__author-name,
	.product-rating__time {
		font-size: .75rem;
	}

	.product-rating {
		background-color: var(--bs-body-bg);
	}

	.blog-comment::before,
	.blog-comment::after,
	.blog-comment-form::before,
	.blog-comment-form::after {
		content: "";
		display: table;
		clear: both;
	}

	.blog-comment {
		padding-left: 8%;
		padding-right: 5%;
	}

		.blog-comment ul {
			list-style-type: none;
			padding: 0;
		}

		.blog-comment img {
			opacity: 1;
			filter: Alpha(opacity=100);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
		}

			.blog-comment img.avatar {
				position: relative;
				float: left;
				margin-left: 0;
				margin-top: 0;
				width: 65px;
				height: 65px;
			}

		.blog-comment .post-comments {
			width: 1000px;
			border: 1px solid #eee;
			margin-bottom: 20px;
			margin-left: 16px;
			margin-right: 6px;
			padding: 6px 17px;
			position: relative;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			background: #f5f9fc;
			color: #6b6e80;
			position: relative;
		}

		.blog-comment .meta {
			font-size: 13px;
			color: #aaaaaa;
			padding-bottom: 17px;
			margin-bottom: 10px !important;
			border-bottom: 1px solid #ccc;
		}

		.blog-comment ul.comments ul {
			list-style-type: none;
			padding: 0;
			margin-left: 85px;
		}

	.blog-comment-form {
		padding-left: 15%;
		padding-right: 15%;
		padding-top: 40px;
	}

		.blog-comment h3,
		.blog-comment-form h3 {
			margin-bottom: 40px;
			font-size: 26px;
			line-height: 30px;
			font-weight: 800;
		}
</style>

<body>
	<div class="container-detail">
		<!-- Left Column / Image -->
		<div class="left-column">
			<img src="~/img/postPic/@Model.Img" alt="Project Image">
		</div>

		<!-- Right Column -->
		<div class="right-column">
			<!-- Product Description -->
			<div class="product-description">
				<span>@Model.Type</span>
				<h1>@Model.Content</h1>
				<div class="text">@Html.Raw(Model.Detail)</div>
				<a class="read-more" href="javascript:void(0)">Xem thêm</a>
				<a class="shrink-btn" href="javascript:void(0)">Thu gọn</a>
			</div>

			<!-- Product Pricing -->
		</div>
	</div>
	<div class="container">
		<div class="col-md-12">
			<div class="card b-1 hover-shadow mb-20 full-width">
				<div class="media card-body">
					<div class="media-left pr-12">
						<div class="img">
							@if (user.AvatarImg != null)
							{
								<img class="avatar avatar-xl no-radius" src="~/img/userAvar/@user.AvatarImg" alt="...">
							}
							else
							{
								<img class="avatar avatar-xl no-radius" src="~/img/nullAvar/149071.png" alt="...">
							}
						</div>
						<div class="name">
							<div class="mb-2">
								<span class="fs-20 pr-16">@user.Name</span>
							</div>

							@if (User.Identity.IsAuthenticated)
							{
								@if (!User.Claims.FirstOrDefault(c => c.Type == "UserID").Value.Equals(Model.IdUser))
								{
									<button type="button" class="btn btn-sm btn-primary load-chat" data-userid="@Model.IdUser" data-post="@Model.IdPost">
										<span>Chat ngay</span>

									</button>
								}
								<div id="chatContainerRaw" style="display: block;">
									@await Component.InvokeAsync("Chat")
								</div>
								<div id="chatContainer" style="display: none;">
									@await Component.InvokeAsync("Chat", Model.IdUser)
								</div>
							}
						</div>
					</div>

					<div class="media-right text-right d-none d-md-block">
						<p class="fs-14 text-fade mb-12">Đánh giá: @user.Rating</p>
						<span class="text-fade"><i class="fa fa-money pr-1"></i>@Model.Date</span>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- Chat Button -->
	<div class="mt-2 btn border-secondary text-uppercase text-primary"
		style="background-color: gray; text-align: center;">
		Chat
	</div>

	<!-- Recommended Posts -->
	@if (recommendedPosts.Count > 0)
	{
		<div class="col-lg-12 mt-3">
			<h3 class="page-header">Recommended Posts</h3>
			<div class="row">
				@foreach (var post in recommendedPosts)
				{
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="card b-1 hover-shadow">
							<div class="media card-body">
								<div class="media-left pr-12">
									<div class="img">
										<img class="avatar avatar-xl no-radius" src="~/img/postPic/@post.Img" alt="...">
									</div>
								</div>
								<div class="media-body">
									<div>
										<span class="fs-20 pr-16">@post.Content</span>
									</div>
									<div class="fs-14 text-fade">
										<span>Post Date: @post.Date</span>
									</div>
									<div class="fs-14 text-fade">
										<span>Type: @post.Type</span>
									</div>
									<div class="fs-14 text-fade">
										<span>Rating: @post.IdUserNavigation.Rating</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>	<!-- Chat Button -->
	<!-- Comment Section -->
	<div class="col-lg-12 mt-3">
		<div class="tab-class">
			<div class="row g-4">
				<div class="col-lg-8 text-end">
					<ul class="nav nav-pills d-inline-flex text-center mb-5">
						<li class="nav-item">
							<a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-comment" style="width: 130px; text-decoration: none">
								<span class="text-dark" style="width: 130px;">Bình luận</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-comment-image" style="width: 130px; text-decoration: none">
								<span class="text-dark" style="width: 130px;">Tôi muốn trao đổi</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-content">
				<!-- Tab bình luận thông thường -->
				<div id="tab-comment" class="tab-pane fade show p-0 active">
					<div class="inner-column wow fadeInRight card" style="padding: 5px; box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
						<span class="lead">Bình luận</span>
						<form method="post" asp-action="PostComment" asp-controller="Post">
							<div>
								<input name="IdPost" value="@Model.IdPost" type="hidden" />
								<input name="RedirectUrl" value="DetailPost" type="hidden" />
								<textarea rows="3" class="form-control" name="Content"></textarea>
							</div>
							<div style="min-height:10px;"></div>
							<div>
								<button class="btn btn-danger" name="btn-comment">Bình luận</button>
							</div>
						</form>
					</div>
				</div>
				<!-- Tab bình luận với hình ảnh -->
				<div id="tab-comment-image" class="tab-pane fade show p-0">
					<div class="inner-column wow fadeInRight card" style="padding: 5px; box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
						<span class="lead">Sản phẩm trao đổi</span>
						<form method="post" asp-action="PostCommentExchange" asp-controller="Post" enctype="multipart/form-data">
							<div>
								<input name="IdPost" value="@Model.IdPost" type="hidden" />
								<input name="RedirectUrl" value="DetailPost" type="hidden" />
								<textarea rows="3" class="form-control" name="Content"></textarea>
							</div>
							<div style="min-height:10px;"></div>
							<div>
								<div class="form-item">
									<label class="form-label my-3">Thêm hình ảnh</label><sup>*</sup>
									<input type="file" name="img" class="form-control">
									<input type="hidden" asp-for="@Model.Type" value="Exchange" />
								</div>
							</div>
							<div style="min-height:10px;"></div>
							<div>
								<button class="btn btn-danger" name="btn-comment">Đăng</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="container bootstrap snippets bootdey">
			<div class="row">
				<div class="col-md-12">
					<div class="blog-comment">
						<hr />
						<ul class="comments">
							@foreach (var comment in comments.OrderByDescending(c => c.Date))
							{
								<li class="clearfix" style="display: flex;">
									@if (comment.avarImg != null)
									{
										<img class="rounded-circle me-lg-2 product-rating__avatar-img" src="~/img/userAvar/@comment.avarImg" alt="" style="width: 40px; height: 40px;">
									}
									else
									{
										<img class="rounded-circle me-lg-2 product-rating__avatar-img" src="~/img/nullAvar/149071.png" alt="" style="width: 40px; height: 40px;">
									}
									<div class="post-comments">
										<p class="meta">
											<a href="#">@comment.Name</a>     <small>@comment.Date?.ToString("dd-MM-yyyy HH:mm:ss")</small>
											@if (User.Identity.IsAuthenticated)
											{
												if (comment.Type == "Exchange" && User.Claims.FirstOrDefault(c => c.Type == "UserID").Value.Equals(Model.IdUser))
												{
													<span class="labelConfirm exchange">Trao đổi</span>
													<button type="button" class="btn btn-sm btn-primary load-chat-comment-exchange" style="float: inline-end" data-userid="@comment.IdUser" data-post="@comment.IdPost" data-comment="@comment.IdComment">
														<span>Liên hệ để trao đổi ngay</span>
													</button>
												}
												else
												{
													<button type="button" class="btn btn-sm btn-primary load-chat-comment" style="float: inline-end" data-userid="@comment.IdUser">
														<span>Liên hệ với người này</span>
													</button>
												}
												<div id="chatContainerComment" style="display: none;">
													@await Component.InvokeAsync("Chat", @comment.IdUser)
												</div>
											}
										</p>
										<p style="word-wrap: break-word;">
											@comment.Content
										</p>
										@if (comment.Type == "Exchange")
										{
											<div class="fixed-image-container" style="margin-left: 64px; padding-bottom: 10px;">
												<img src="~/img/postPic/@comment.Img" alt="Fixed Image" style="width: auto; height: 300px; display: flex;">
											</div>
										}
									</div>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function () {
			$('#commentNote').summernote({
				height: 200,
				onImageUpload: function (files, editor, welEditable) {
					sendFile(files[0], editor, welEditable);
				}
			});

			function sendFile(file, editor, welEditable) {
				data = new FormData();
				data.append("file", file);
				$.ajax({
					data: data,
					type: "POST",
					url: "Your URL POST (php)",
					cache: false,
					contentType: false,
					processData: false,
					success: function (url) {
						editor.insertImage(welEditable, url);
					}
				});
			}
		});

		document.addEventListener('DOMContentLoaded', function () {
			var productDescription = document.querySelector('.product-description');
			var textContainer = productDescription.querySelector('.text');
			var readMoreLink = productDescription.querySelector('.read-more');
			var shrinkButton = productDescription.querySelector('.shrink-btn');

			if (textContainer.scrollHeight > textContainer.clientHeight) {
				readMoreLink.style.display = 'inline-block'; // Hiển thị liên kết "Xem thêm" nếu nội dung vượt quá chiều rộng

				readMoreLink.addEventListener('click', function () {
					if (textContainer.style.maxHeight === 'none') {
						textContainer.style.maxHeight = '200px'; // Thu gọn nội dung lại về giới hạn chiều cao ban đầu
						readMoreLink.innerText = 'Xem thêm'; // Đổi văn bản liên kết thành "Xem thêm"
					} else {
						textContainer.style.maxHeight = 'none'; // Mở rộng nội dung
						readMoreLink.innerText = 'Thu gọn'; // Đổi văn bản liên kết thành "Thu gọn"
					}
				});
			}
		});
	</script>
</body>