@using FStep.ViewModels
@model ProfileVM
@{
    int rating = (int)(Model.PointRating ?? 0);
}

<div class="container bootstrap snippets bootdeys">
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="card w-100">
                <div class="card-body text-center">
                    <h2>@Model.Name</h2>
                    <img src="~/img/userAvar/@Model.AvatarImg" alt="" class="profile-img img-fluid mx-auto d-block rounded-circle">
                    <div class="profile-label my-2">
                        <span class="badge bg-danger">@Model.Role</span>
                    </div>

                    <div class="profile-stars mb-2" style="color : yellow">
                        @for (int i = 0; i < rating; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                    </div>

                    <div class="profile-since mb-2">
                        Member since: @Model.CreateDate?.ToString("dd/MM/yyyy")
                    </div>

                    <div class="profile-details mb-2">
                        <ul class="fa-ul mx-0">
                            <li>Sale Post: <span>@ViewData["SalePostCount"]</span></li>
                            <li>Exchange Post: <span>@ViewData["ExchangePostCount"]</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="card w-100">
                <div class="card-header">
                    User Detail
                </div>
                <div class="card-body">
                    <div class="w-100">
                        <p class="card-text"><strong>Gender:</strong> @Model.Gender</p>
                        <p class="card-text"><strong>Email:</strong> @Model.Email</p>
                        <p class="card-text"><strong>Address:</strong> @Model.Address</p>
                        <p class="card-text"><strong>StudentId:</strong> @Model.StudentId</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



