@using FStep.ViewModels
@model PagingModel<PaymentVM>
@{
	Layout = "_LayoutAdmin";
}
<div>
	<<form asp-action="Payment" asp-controller="Admin" method="get" class="d-flex justify-content-end" id="searchUserForm">
		<div class="input-group mb-3 w-25">
			<input type="text" class="form-control" name="search" placeholder="Tìm kiếm theo mã giao dịch" value="@Model.PagingInfo.Search">
			<button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
		</div>
	</form>

	<!-- Header body  -->
	<!-- Title header body  -->
	<div class="row align-items-center mb-8 search-header">
		<div class="col-md-5">
			<h5>Các thanh toán tại hệ thống</h5>

			@* <p class="mb-0">Tổng Số Bài : @ViewBag.Count</p> *@
		</div>
		<div class="col-md-5 align-items-end">
		</div>
		<div class="col-md-2">
			<a href="@ViewBag.link" target="_blank">Xem tất cả</a>
		</div>
	</div>

	<!-- Start Content Body-->
	<div class="container">
		<div class="row mt-3">
			<div class="col">
				<table class="table table-striped">
					<thead class="thead-light">
						<tr>
							<th scope="col">Mã</th>
							<th scope="col">Thời gian</th>
							<th scope="col">Số tiền</th>
							<th scope="col">Mã thanh toán</th>
							<th scope="col">Người thực hiện</th>
							<th scope="col">Mã giao dịch</th>
							<th scope="col">Trạng thái</th>
							<th scope="col">Ghi chú</th>
							<th scope="col">Ngày huỷ</th>
						</tr>
					</thead>
					<tbody>
						<!-- Loop through posts -->
						@foreach (var item in Model.Items)
						{
							<tr>
								<td>@Html.Raw(item.IdPayment)</td>
								<td>@Html.Raw(item.PayTime?.ToString("yyyy/MM/dd hh:mm tt"))</td>
								<td>@Html.Raw(item.Amount)</td>
								@* <td>@String.Format(format, "{0:0,0 VND}", item.Amount)</td> *@
								<td>@Html.Raw(item.VnpayTransactionCode)</td>
								<td>@Html.Raw(item.Type)</td>
								<td>@Html.Raw(item.IdTransaction)</td>
								<td>
									@if (item.Status != null)
									{
										@switch (item.Status.ToLower())
										{
											case "true":
												<span class="badge bg-primary badge-custom badge-dark-text">Thành công</span>
												break;
											case "false":
												<span class="badge bg-danger badge-custom badge-dark-text">Đã huỷ</span>
												break;
										}
									}
								</td>
								<td>@Html.Raw(item.Note)</td>
								<td>@Html.Raw(item.CancelDate?.ToString("yyyy/MM/dd hh:mm tt"))</td>
							</tr>
						}
						<!-- End loop -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Pagination -->
	@Html.Partial("_Pagination", Model.PagingInfo, new ViewDataDictionary(ViewData) { { "asp-action", "Payment" }, { "asp-controller", "Admin" } })
	<!-- End Content Body -->
</div>