@model IEnumerable<FStep.ViewModels.ChatVM>
<head>
	<meta charset="utf-8" />
	<title>Fixed Chat</title>
	
</head>

<body>
	<button class="open-button" onclick="openForm()">Chat</button>
	<div id="alert-container" class="container mt-3 position-fixed" style="top: 10px; right: 10px; z-index: 1000;">
	</div>
	<div class="chat-popup" id="myForm">
		<div class="container">
			<div class="row clearfix">
				<div class="card chat-app">
					<div id="plist" class="people-list">
						<div class="input-group">
							<!-- Các phần tử trong people-list -->
						</div>
						<ul class="list-unstyled chat-list mt-2 mb-0 group-list" style="margin-left: 0px;">
							@{
								var usersProcessed = new HashSet<string>();
								var userId = User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value;
							}
							<input type="hidden" id="sendUserID" value="@userId" /> <!-- Giá trị của sendUserID -->
							@* <li class="clearfix" data-userid="">
							</li> *@
							@foreach (var user in Model)
							{
								var userId_Send = user.SenderUser.IdUser;
								var userId_Recieve = user.RecieverUser.IdUser;
								// Kiểm tra xem userId của người dùng đã được xử lý trước đó hay chưa
								@if (!usersProcessed.Contains(userId_Send) && !usersProcessed.Contains(userId_Recieve))
								{
									// Thêm userId vào danh sách đã xử lý
									@if (user.SenderUser.IdUser != User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value)
									{
										var img = "";
										@if (@user.SenderUser.AvatarImg != null)
										{
											img = "userAvar/" + @user.SenderUser.AvatarImg;
										}
										else
										{
											img = "nullAvar/149071.png";
										}
										@* <a asp-action="Chat" asp-controller="Chat" asp-route-idUser="@user.SenderUser.IdUser"> *@
										<li class="clearfix" data-userid="@user.SenderUser.IdUser">
											<img src="~/img/@img" alt="avatar">
											<div class="about">
												<div class="name">@(@user.SenderUser.Name.Length > 16 ? @user.SenderUser.Name.Substring(0, 16) + "..." : @user.SenderUser.Name)</div>
												<div class="status"> <i class="fa fa-circle online"></i> online </div>
											</div>
										</li>
										usersProcessed.Add(userId_Send);
										@* </a> *@
									}
									else
									{
										var img = "";
										@if (@user.RecieverUser.AvatarImg != null)
										{
											img = "userAvar/" + @user.RecieverUser.AvatarImg;
										}
										else
										{
											img = "nullAvar/149071.png";
										}
										@* <a asp-action="Chat" asp-controller="Chat" asp-route-idUser="@user.RecieverUser.IdUser"> *@
										<li class="clearfix" data-userid="@user.RecieverUser.IdUser">
											<img src="~/img/@img" alt="avatar">
											<div class="about">
												<div class="name">@(@user.RecieverUser.Name.Length > 16 ? @user.RecieverUser.Name.Substring(0, 16) + "..." : @user.RecieverUser.Name)</div>
												<div class="status"> <i class="fa fa-circle online"></i> online </div>
											</div>
										</li>
										@* </a> *@

										usersProcessed.Add(userId_Recieve);
									}
								}
								<input type="hidden" id="list-already" value='' />
							}
						</ul>
					</div>
					<div class="chat">
						<div class="chat-header clearfix">
							<div class="row">
								<div class="col-lg-10 header-message">
								</div>
								<div class="col-lg-2 hidden-sm close">
									<button onclick="closeForm()" class="btn btn-outline-warning float-right">
										X
									</button>
								</div>
							</div>
						</div>
						<div class="confirm-exchange clearfix justify-content-center" style="border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; width: 400px;">
							
						</div>

						<div class="chat-history" style="height: 400px; width: 400px;" id="chat-history">
							<ul class="list-unstyled m-b-0" id="chatMessages">
								<!-- Các tin nhắn sẽ được hiển thị ở đây -->
							</ul>
						</div>
						<div class="chat-message clearfix">
							<div class="input-group mb-0 " id="submit-chat">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exchangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Thông tin trao đổi</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="detail-exchange">
					
				</div>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
	<script src="~/lib/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/site.js"></script>
</body>